body {
    background-color:darkgrey;
}
#flashcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:blueviolet;
  
}
.flashcardSubmitted {
    background-color:bisque;
    display: flex;
    flex-direction: column;
    margin: 3vh 1vw;
    padding: 2vh 2vw;
    width: 20vw;
    position: relative;

}

.questionAnswer, .questionSubmitted {
    padding: 2vh 1vw;
  
    word-wrap: break-word;

}
.editButton {
    z-index: 10;
    position: absolute;
    top:0;
    right: 0;
    width:3vw;
    cursor: pointer;
    height: 7vh;
}
@media (max-width: 800px) {
    #flashcards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color:blueviolet;
        font-size: 0.9rem;
    
      
    }
  }