
#flashcards {
    display: flex;
    flex-direction: column;
}
.flashcardSubmitted {
    background-color: yellow;
    display: flex;
    flex-direction: column;

    padding: 2vh 2vw;
}
.questionSubmitted {
    background-color: blue;
  
}
.questionAnswer {
    background-color: red;
}

.questionAnswer, .questionSubmitted {
    padding: 1vh 2vw;
    width: 30vw;
    word-wrap: break-word;

}